USE [master]
GO
/****** Object:  Database [ThiTracNghiem]    Script Date: 7/17/2020 3:57:46 PM ******/
CREATE DATABASE [ThiTracNghiem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThiTracNghiem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ThiTracNghiem.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ThiTracNghiem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ThiTracNghiem_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThiTracNghiem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThiTracNghiem]
GO
/****** Object:  Table [dbo].[CauHoi]    Script Date: 7/17/2020 3:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CauHoi](
	[MaCauHoi] [int] IDENTITY(1,1) NOT NULL,
	[HinhThucCauHoi] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](500) NULL,
	[MaMon] [varchar](50) NULL,
	[DoKho] [int] NULL,
	[Hinh] [varchar](50) NULL,
 CONSTRAINT [PK_CauHoi] PRIMARY KEY CLUSTERED 
(
	[MaCauHoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DapAn]    Script Date: 7/17/2020 3:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DapAn](
	[MaDapAn] [int] IDENTITY(1,1) NOT NULL,
	[NoiDung] [nvarchar](300) NULL,
	[DungSai] [bit] NULL,
	[MaCauHoi] [int] NULL,
 CONSTRAINT [PK_DapAn] PRIMARY KEY CLUSTERED 
(
	[MaDapAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KetQua]    Script Date: 7/17/2020 3:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KetQua](
	[MaKetQua] [int] IDENTITY(1,1) NOT NULL,
	[MaThiSinh] [varchar](50) NOT NULL,
	[MaKyThi] [int] NOT NULL,
	[NgayThi] [date] NULL,
	[Diem] [float] NULL,
	[ThoiGianThi] [smalldatetime] NULL,
 CONSTRAINT [PK_KetQua_1] PRIMARY KEY CLUSTERED 
(
	[MaKetQua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Khoi]    Script Date: 7/17/2020 3:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Khoi](
	[MaKhoi] [varchar](2) NOT NULL,
	[MaMon] [varchar](50) NULL,
	[TenKhoi] [nchar](10) NULL,
 CONSTRAINT [PK_Khoi] PRIMARY KEY CLUSTERED 
(
	[MaKhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KyThi]    Script Date: 7/17/2020 3:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KyThi](
	[MaKyThi] [int] IDENTITY(1,1) NOT NULL,
	[MaMon] [varchar](50) NOT NULL,
	[TenKyThi] [nvarchar](50) NULL,
	[ThoiGianLamBai] [int] NULL,
	[ThoiGianMoDe] [smalldatetime] NULL,
	[ThoiGianDongDe] [smalldatetime] NULL,
	[TongSoCau] [int] NULL,
	[TiLeDe] [int] NULL,
	[TiLeKho] [int] NULL,
	[TienLui] [bit] NULL,
	[MatKhau] [varchar](50) NULL,
	[MaKhoi] [varchar](2) NULL,
	[MoTa] [nvarchar](200) NULL,
 CONSTRAINT [PK_KyThi_1] PRIMARY KEY CLUSTERED 
(
	[MaKyThi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiTaiKhoan]    Script Date: 7/17/2020 3:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LoaiTaiKhoan](
	[MaLoaiTaiKhoan] [varchar](50) NOT NULL,
	[TenLoaiTaiKhoan] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LuuKyThi]    Script Date: 7/17/2020 3:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LuuKyThi](
	[MaKyThi] [int] NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[TenKyThi] [nvarchar](50) NULL,
	[ThoiGian] [datetime] NULL,
 CONSTRAINT [PK_LuuKyThi] PRIMARY KEY CLUSTERED 
(
	[MaKyThi] ASC,
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonThi]    Script Date: 7/17/2020 3:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MonThi](
	[MaMon] [varchar](50) NOT NULL,
	[TenMon] [nvarchar](50) NULL,
 CONSTRAINT [PK_MonThi] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 7/17/2020 3:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [varchar](50) NOT NULL,
	[MaThiSinh] [varchar](50) NULL,
	[NgayTao] [date] NULL,
	[LoaiTaiKhoan] [varchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ThiSinh]    Script Date: 7/17/2020 3:57:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ThiSinh](
	[MaThiSinh] [varchar](50) NOT NULL,
	[TenThiSinh] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[SoDienThoai] [varchar](15) NULL,
	[NamSinh] [date] NULL,
	[Email] [varchar](50) NULL,
	[AnhDaiDien] [varchar](50) NULL,
 CONSTRAINT [PK_NguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaThiSinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CauHoi] ON 

INSERT [dbo].[CauHoi] ([MaCauHoi], [HinhThucCauHoi], [NoiDung], [MaMon], [DoKho], [Hinh]) VALUES (1, N'Trắc nghiệm', N'Nguyên nhân sinh ra sóng biển là:', N'DL6', 1, NULL)
INSERT [dbo].[CauHoi] ([MaCauHoi], [HinhThucCauHoi], [NoiDung], [MaMon], [DoKho], [Hinh]) VALUES (2, N'Trắc nghiệm', N'Hệ thống sông bao gồm:', N'DL6', 1, NULL)
INSERT [dbo].[CauHoi] ([MaCauHoi], [HinhThucCauHoi], [NoiDung], [MaMon], [DoKho], [Hinh]) VALUES (3, N'Trắc nghiệm', N'Các sông làm nhiệm vụ cung cấp nước cho sông chính gọi là', N'DL6', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[CauHoi] OFF
SET IDENTITY_INSERT [dbo].[DapAn] ON 

INSERT [dbo].[DapAn] ([MaDapAn], [NoiDung], [DungSai], [MaCauHoi]) VALUES (1, N'Gió', 1, 1)
INSERT [dbo].[DapAn] ([MaDapAn], [NoiDung], [DungSai], [MaCauHoi]) VALUES (2, N'Sức hút của Trái Đất', 0, 1)
INSERT [dbo].[DapAn] ([MaDapAn], [NoiDung], [DungSai], [MaCauHoi]) VALUES (3, N'Sức hút của mặt trăng', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[DapAn] OFF
SET IDENTITY_INSERT [dbo].[KetQua] ON 

INSERT [dbo].[KetQua] ([MaKetQua], [MaThiSinh], [MaKyThi], [NgayThi], [Diem], [ThoiGianThi]) VALUES (1, N'2001170803', 1, CAST(0x6E410B00 AS Date), NULL, NULL)
INSERT [dbo].[KetQua] ([MaKetQua], [MaThiSinh], [MaKyThi], [NgayThi], [Diem], [ThoiGianThi]) VALUES (2, N'2001170093', 2, CAST(0x6F410B00 AS Date), NULL, NULL)
INSERT [dbo].[KetQua] ([MaKetQua], [MaThiSinh], [MaKyThi], [NgayThi], [Diem], [ThoiGianThi]) VALUES (3, N'2001170803', 3, CAST(0x6F410B00 AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[KetQua] OFF
SET IDENTITY_INSERT [dbo].[KyThi] ON 

INSERT [dbo].[KyThi] ([MaKyThi], [MaMon], [TenKyThi], [ThoiGianLamBai], [ThoiGianMoDe], [ThoiGianDongDe], [TongSoCau], [TiLeDe], [TiLeKho], [TienLui], [MatKhau], [MaKhoi], [MoTa]) VALUES (1, N'DL7', N'Thi khảo sát chất lượng định kỳ Địa lý ̉7', 10, CAST(0xAC13026C AS SmallDateTime), CAST(0xAC130276 AS SmallDateTime), 20, 80, 20, 1, NULL, N'7', N'Bộ đề thi và đáp án khảo sát chất lượng định kỳ 7')
INSERT [dbo].[KyThi] ([MaKyThi], [MaMon], [TenKyThi], [ThoiGianLamBai], [ThoiGianMoDe], [ThoiGianDongDe], [TongSoCau], [TiLeDe], [TiLeKho], [TienLui], [MatKhau], [MaKhoi], [MoTa]) VALUES (2, N'LS6', N'Thi cuối kỳ Lịch sử 6 ̉', 15, CAST(0xAC14026C AS SmallDateTime), CAST(0xAC14027B AS SmallDateTime), 20, 80, 20, 1, NULL, N'6', N'Bộ đề thi và đáp án Lịch sử 6 ̉')
INSERT [dbo].[KyThi] ([MaKyThi], [MaMon], [TenKyThi], [ThoiGianLamBai], [ThoiGianMoDe], [ThoiGianDongDe], [TongSoCau], [TiLeDe], [TiLeKho], [TienLui], [MatKhau], [MaKhoi], [MoTa]) VALUES (3, N'SH', N'Kiểm tra định kỳ Sinh học ̉', 20, CAST(0xAC14023A AS SmallDateTime), CAST(0xAC14024E AS SmallDateTime), 20, 60, 40, 1, NULL, N'6', N'Bộ đề thi và đáp án Sinh học 6 ̉̉')
SET IDENTITY_INSERT [dbo].[KyThi] OFF
INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTaiKhoan], [TenLoaiTaiKhoan]) VALUES (N'QTV', N'Quan Tri vien')
INSERT [dbo].[LoaiTaiKhoan] ([MaLoaiTaiKhoan], [TenLoaiTaiKhoan]) VALUES (N'TS', N'Thí sinh')
INSERT [dbo].[LuuKyThi] ([MaKyThi], [TenDangNhap], [TenKyThi], [ThoiGian]) VALUES (1, N'khanh21051999', N'Thi khảo sát chất lượng định kì', NULL)
INSERT [dbo].[LuuKyThi] ([MaKyThi], [TenDangNhap], [TenKyThi], [ThoiGian]) VALUES (2, N'long17101999', N'Thi khảo sát chất lượng định kì', NULL)
INSERT [dbo].[LuuKyThi] ([MaKyThi], [TenDangNhap], [TenKyThi], [ThoiGian]) VALUES (3, N'khanh21051999', N'Thi khảo sát chất lượng định kì', NULL)
INSERT [dbo].[MonThi] ([MaMon], [TenMon]) VALUES (N'DL6', N'Địa lý 6')
INSERT [dbo].[MonThi] ([MaMon], [TenMon]) VALUES (N'DL7', N'Địa lý 7')
INSERT [dbo].[MonThi] ([MaMon], [TenMon]) VALUES (N'DL8', N'Địa lý 8')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaThiSinh], [NgayTao], [LoaiTaiKhoan]) VALUES (N'admin', N'admin', NULL, NULL, N'QTV')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaThiSinh], [NgayTao], [LoaiTaiKhoan]) VALUES (N'khanh21051999', N'21051999', N'2001170803', NULL, N'TS')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [MatKhau], [MaThiSinh], [NgayTao], [LoaiTaiKhoan]) VALUES (N'long17101999', N'17101999', N'2001170093', NULL, N'TS')
INSERT [dbo].[ThiSinh] ([MaThiSinh], [TenThiSinh], [DiaChi], [GioiTinh], [SoDienThoai], [NamSinh], [Email], [AnhDaiDien]) VALUES (N'2001170093', N'Nguyễn Ngọc Long', N'Bình Tân, TP.HCM', N'Nam', N'0583535939', CAST(0xBB230B00 AS Date), N'long17101999@gmail.com', NULL)
INSERT [dbo].[ThiSinh] ([MaThiSinh], [TenThiSinh], [DiaChi], [GioiTinh], [SoDienThoai], [NamSinh], [Email], [AnhDaiDien]) VALUES (N'2001170803', N'Lê Minh Khánh', N'Gò Dầu, Tây Ninh', N'Nam', N'0328243532', CAST(0x26230B00 AS Date), N'khanh21051999@gmail.com', NULL)
ALTER TABLE [dbo].[CauHoi]  WITH CHECK ADD  CONSTRAINT [FK_CauHoi_MonThi] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonThi] ([MaMon])
GO
ALTER TABLE [dbo].[CauHoi] CHECK CONSTRAINT [FK_CauHoi_MonThi]
GO
ALTER TABLE [dbo].[DapAn]  WITH CHECK ADD  CONSTRAINT [FK_DapAn_CauHoi1] FOREIGN KEY([MaCauHoi])
REFERENCES [dbo].[CauHoi] ([MaCauHoi])
GO
ALTER TABLE [dbo].[DapAn] CHECK CONSTRAINT [FK_DapAn_CauHoi1]
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD  CONSTRAINT [FK_KetQua_KyThi] FOREIGN KEY([MaKyThi])
REFERENCES [dbo].[KyThi] ([MaKyThi])
GO
ALTER TABLE [dbo].[KetQua] CHECK CONSTRAINT [FK_KetQua_KyThi]
GO
ALTER TABLE [dbo].[KetQua]  WITH CHECK ADD  CONSTRAINT [FK_KetQua_ThiSinh] FOREIGN KEY([MaThiSinh])
REFERENCES [dbo].[ThiSinh] ([MaThiSinh])
GO
ALTER TABLE [dbo].[KetQua] CHECK CONSTRAINT [FK_KetQua_ThiSinh]
GO
ALTER TABLE [dbo].[Khoi]  WITH CHECK ADD  CONSTRAINT [FK_Khoi_MonThi] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonThi] ([MaMon])
GO
ALTER TABLE [dbo].[Khoi] CHECK CONSTRAINT [FK_Khoi_MonThi]
GO
ALTER TABLE [dbo].[KyThi]  WITH CHECK ADD  CONSTRAINT [FK_KyThi_MonThi] FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonThi] ([MaMon])
GO
ALTER TABLE [dbo].[KyThi] CHECK CONSTRAINT [FK_KyThi_MonThi]
GO
ALTER TABLE [dbo].[LuuKyThi]  WITH CHECK ADD  CONSTRAINT [FK_LuuKyThi_KyThi] FOREIGN KEY([MaKyThi])
REFERENCES [dbo].[KyThi] ([MaKyThi])
GO
ALTER TABLE [dbo].[LuuKyThi] CHECK CONSTRAINT [FK_LuuKyThi_KyThi]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_LoaiTaiKhoan] FOREIGN KEY([LoaiTaiKhoan])
REFERENCES [dbo].[LoaiTaiKhoan] ([MaLoaiTaiKhoan])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_LoaiTaiKhoan]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_NguoiDung] FOREIGN KEY([MaThiSinh])
REFERENCES [dbo].[ThiSinh] ([MaThiSinh])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_NguoiDung]
GO
USE [master]
GO
